
@font-face {
  font-family: 'EBGaramond';
  src: url('/fonts/EBGaramond-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Matrix-II';
  src: url('/fonts/Matrix-II-OT.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body, input, textarea, select, button {
  font-synthesis: none;
  -moz-font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
}
input, textarea {
  all: unset;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  outline: none;
  border: none;
  border-radius: 0;
  color: inherit;
  font: inherit;
}
input::placeholder {
  font: inherit;
  color: inherit;
}

select {
  all: unset;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  border: none;
  padding: 0;
  border-radius: 0;
  cursor: pointer;
}
.dropdown {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  position: relative;


}
.dropdown select {
  padding-right: 50px;
}
.dropdown::after {
  content: '▼';
  font-size: 12px;
  pointer-events: none;
  position: absolute;
  right: 15px;
}

button {
  background: none;
  border-radius: 8px;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: inherit;
  overflow: visible;
  vertical-align:inherit
}

button:disabled {
  cursor:default
}
:focus {
  outline: none;
  outline-offset: 0;
}
::-moz-focus-inner {
  border: 0;
  padding: 0;
}



h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root {
  --bt-brown: #BE863C;
  --bt-cream:#F5FFFA;
  --bt-green:#1B3C33;
  --bt-rugby-green: #FAF0E6;
  --bt-black: #000000;

  --typeface-primary: 'EBGaramond', serif;
  --typeface-secondary: 'Matrix-II',serif;

  --font-size-headline-elevated: 36px;
  --font-size-headline: 24px;
  --font-size-headline-reduced: 20px;
  --font-size-body: 18px;
  --font-size-body-reduced: 14px;


  --content-width: clamp(320px,100vw,430px);
  --content-height: max(568px,100vh);
  --padding-block: 35px;
  --padding-inline: 25px;
  --padding: var(--padding-block) var(--padding-inline);

}
[class*="typography-headline"] {
  font-family: 'healine';
}
.typeface-secondary {
  font-family: var(--typeface-secondary);
  font-weight: 500;
}

.typography-headline-elevated {
  font-size: var(--font-size-headline-elevated);
  color: black;
  line-height: 40px;
}
body[class^="theme-bt-rugby-"].page-entry .typography-headline-elevated {
  font-size: 20px;
  line-height: 1;
}
.typography-headline {
  font-size: var(--font-size-headline);
  line-height: 1;
 }
.typography-headline-reduced { }
.typography-body {
  font-size: 18px;
  line-height: 20px;
}
.typography-body-reduced {
  color : black;
  font-size: var(--font-size-body-reduced);
  line-height: 16px;
 }

.typography-body-text {
  color : black;
  font-size: 22px;
}


.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.uppercase {
  text-transform: uppercase;
}

.logo-wrapper {
  background-color: #000;
  padding: 1rem 0;
  text-align: center;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

.logo-wrapper.bt-logo {
  margin: 0 auto;
  display: inline-block;
}


body {
  background-color: var(--bt-green);
  color: var(--bt-cream);
  font-family: var(--typeface-primary);
  font-size: 18px;
  line-height: 20px;
}
body[class^="theme-bt-rugby-"] {
  background-color: var(--bt-rugby-green);
}
._container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: var(--content-height);

  background-size: var(--content-width) auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
}

body.theme-bt-golf-on-trade ._container,
body.theme-bt-golf-supervalu-dunnes ._container,
body.theme-bt-golf-tesco ._container {
  background-position: 50% 100%;
}

._content {
  padding-inline: var(--padding-inline);
  width: var(--content-width);

  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* outline: .5px dashed rgb(255 255 255/40%); */

}


.logo-image {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}
.bt-logo {
  background-image: url('/images/freixenetLogo.png');
}

.bt-x-dp-wt-logo {
  background-image: url('/images/freixenetLogo.png');
  width: 266px;
  height: 34px;
  margin-top: 20px;
}
body.theme-bt-golf-supervalu-dunnes .bt-x-dp-wt-logo,
body.theme-bt-golf-on-trade .bt-x-dp-wt-logo {
  background-image: url('/images/freixenetLogo.png');
  width: 265px;
  height: 34px;
}

.bt-x-dp-wt-headline {
  background-image: url('/images/freixenetLogo.png');
  width: 352px;
  height: 196px;
  margin-top: 25px;
}
body.theme-bt-golf-supervalu-dunnes .bt-x-dp-wt-headline {
  background-image: url('/images/freixenetLogo.png');
  width: 352px;
  height: 196px;
  margin-top: 25px;
}

body.theme-bt-golf-tesco .bt-x-dp-wt-headline {
  background-image: url('/images/freixenetLogo.png');
  width: 266px;
  height: 192px;
  margin-top: 25px;
}

body[class^="theme-bt-rugby-"] .bt-logo,
body[class^="theme-bt-rugby-"] .bt-x-dp-wt-logo {
  background-image: url('/images/freixenetLogo.png');
  width: 222px;
  height: 104px;
  margin-top: 25px;
}
body[class^="theme-bt-rugby-"] .bt-x-dp-wt-headline {
  background-image: url('/images/freixenetLogo.png');
  width: 273px;
  height: 242px;
  margin-top: 25px;
}




:not(.modal) .bt-logo {
  width: 214px;
  height: 46px;
  margin-top: 25px;
}


.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  justify-content:center;
  align-items: center;
}

.modal .modal-content {
  width: min(340px, 90%);
  padding: var(--padding);
  text-align: center;
  background: var(--bt-green);
  display: flex;
  justify-content:center;
  align-items: center;
}
.age-form {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  gap: 15px;
}

.modal .age-form .bt-logo {
  width: 196px;
  height: 42px;
}
.modal .age-form .input-group {
  display: flex;
  justify-content: center;
  gap: 25px;

}
.modal .age-form input {
  width: 64px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  font-size: var(--font-size-headline-reduced);
  font-family: var(--typeface-secondary);
  border: 3px solid var(--bt-black);
}
.modal .age-form .error {

}

.modal p a {
  text-decoration: underline;
}


.visuallyhidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border:0
}

  @media only screen and (min-width: 735px) {

  }



  button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-inline: auto;
    height: 41px;
    min-width: 123px;
    padding: 8px 20px;
    background-color: var(--bt-black);
    color: var(--bt-cream);
    font-size: 18px;
    line-height: 1;
    font-family: var(--typeface-secondary);

  }




.footer-copy {
  font-size: var(--font-size-body-reduced);

  column-gap: 20px;
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;

}

body[class^="theme-bt-golf-"] .footer-copy {
  column-gap: 0px;
  padding-bottom: 0;
}

.drink-aware-ie {
  display: inline-block;
  vertical-align: middle;
  width: 239px;
  height: 33px;
  background-image: url('/images/drink-aware-ie_2x.png');
}
body[class^="theme-bt-rugby-"] .drink-aware {
  display: inline-block;
  vertical-align: middle;
  width: 116px;
  height: 10px;
  background-image: url('/images/drink-aware_2x.png');
}




.social {
  text-align: center;
  margin-top: 10px
}


.social .social-icons {
    display: flex;
    justify-content: center;
    gap: min(9vw,50px);
    margin-block: 20px;
  }

  .social .icon {
    display: inline-block;
    width: 38px;
    height: 38px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color:  var(--bt-brown);
    border-radius: 50%;
  }


  .social .icon.instagram {
    background-image: url('/images/social-icon-ig_2x.png');
  }
  .social .icon.facebook {
    background-image: url('/images/social-icon-fb_2x.png');
  }
  .social .icon.x {
    background-image: url('/images/social-icon-x_2x.png');
  }

.page-home ._container {
  background-image: url('/images/page-bg-home-on-trade_2x.jpg');
}

body.theme-bt-golf-tesco.page-home ._container {
  background-image: url('/images/page-bg-home-tesco_2x.jpg');
}

body[class^="theme-bt-rugby-"].page-home ._container {
  background-image: url('/images/page-bg-home-rugby_2x.jpg');
}

.page-home ._main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}


.page-home .cta {

  margin-bottom: 15px;

}

.page-home .social {
  display: none;
}

.page-holding ._container {
  background-image: url('/images/page-bg-holding-on-trade_2x.jpg');
}
.page-holding.theme-bt-golf-tesco ._container {
  background-image: url('/images/page-bg-holding-tesco_2x.jpg');
}
body[class^="theme-bt-rugby-"].page-holding ._container {
  background-image: url('/images/page-bg-holding-rugby_2x.jpg');
}

.page-holding .headline {
margin-top: 25px;

}
.page-holding .date {

  background-color: var(--bt-black);
  line-height: 33px;
  display: inline-block;
  margin-top: 20px;
  padding-inline: 10px;
}

.page-closed ._container {
  background-image: url('/images/page-bg-holding-on-trade_2x.jpg');
}
body[class^="theme-bt-rugby-"].page-closed ._container {
  background-image: url('/images/page-bg-closed-rugby_2x.jpg');
}

body.theme-bt-golf-tesco.page-closed ._container {
  background-image: url('/images/page-bg-holding-tesco_2x.jpg');
}

.page-closed .headline {
  margin-top: 15px;
}
.page-closed .headline + * {
  margin-top: 10px;
  max-width: 300px;
}


.page-terms .headline {
  margin-top: 25px;
}
.page-terms .headline ~ * {
  margin-top: 15px;
}

.page-terms {
  margin-top: 50px;
}

.page-terms ._container li,
.page-terms ._container p {
  margin-top: .7em;
}
.page-terms ._container li {
  list-style-position: inside;

}



.page-terms ._container ol {
  list-style-position: outside;
}

.page-terms ._container ol > li {
  text-indent: -1.1em;
  padding-left: 1.1em;
}
.page-terms ._container ol > li ul li {
  text-indent: 0;
  padding-left: 0;
}
.page-terms ._container ol a {
  text-decoration: underline;
}

.page-entry ._container {
  background-image: url('/images/page-bg-entry_2x.jpg');
}
[class^="theme-bt-rugby-"].page-entry  ._container {
  background-image: url('/images/backgroundImage.png');
}
.page-entry .social {
  display: none;
}

.page-entry .headline {
  margin-top: 15px;
}
.page-entry .entry-form {
  width: min(302px, 90%);
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;

}
.page-entry .entry-form .textinput input,
.page-entry .entry-form .dropdown,
.page-entry .entry-form .dropdown select {
  width: 100%;
  background: var(--bt-black);
  border-radius: 8px;
  border: none;
}
.page-entry .entry-form .textinput input {
  padding-inline: 10px;
  line-height: 35px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 35px;
}
.page-entry .entry-form .dropdown select {
  padding-left: 10px;
  padding-right: 50px;
  line-height: 35px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 35px;
}


.custom-checkbox input {
  display: none;
}


.custom-checkbox {
  display: flex;

  cursor: pointer;

}
.custom-checkbox ~ * {
  margin-top: 5px;
}

/* Checkmark box */
.custom-checkbox .checkmark {

  width: 10px;
  height: 10px;
 background: var(--bt-cream);

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
  margin-right: 10px;

  position: relative;
  flex-shrink: 0;
}
.error { display:block; margin-left: 17px; }
.error + * { margin-top: 5px; }


.custom-checkbox .checkmark::before {


  content: '';
  display: block;
  width: 4px;
  height: 10px;
  border: solid var(--bt-black);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  margin: -5px 0 0 2px;
 opacity: 0;
 flex-shrink: 0;

}





.custom-checkbox input:checked + .checkmark {

}

.custom-checkbox input:checked + .checkmark::before {

  opacity: 1;
}

.custom-checkbox a {
  text-decoration: underline;
}





.page-goodluck ._container {
  background-image: url('/images/page-bg_goodluck_2x.jpg');
}
body[class^="theme-bt-rugby-"].page-goodluck ._container {
  background-image: url('/images/page-bg-entry-rugby_2x.jpg');
}
.page-goodluck ._content {
  align-items: flex-start;
}

.page-goodluck .logo-image {
  margin-inline: auto;
}


.page-goodluck .headline {
  margin-top: 15px;
}
.page-goodluck .headline + * {
  margin-top: 10px;
  max-width: 300px;
  margin-inline: auto;
}
.page-goodluck .subhead {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  margin-top: 1.5em;
  font-family: var(--typeface-secondary);
}

.page-goodluck .recipe {
  max-width: 200px;
  margin-top: 2.5em;
  text-align: center;
}



body[class^="theme-bt-rugby-"].page-goodluck .section-receipe {

  width: 100%;
  position: relative;
  left: 0;
  margin-top: 20px

}
body[class^="theme-bt-rugby-"].page-goodluck .section-receipe ._content {
  background-color: var(--bt-black);
  padding-block: 20px;

}
body[class^="theme-bt-rugby-"].page-goodluck .section-receipe .subhead {
  margin-top: 0;
  text-align: center;
  font-size: 20px;
}



body[class^="theme-bt-rugby-"].page-goodluck .section-receipe .row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;


}

.page-goodluck ._content {
  align-items: center;

}

.footer {
  background: #000;
  color: #fff;
  padding: 20px 10px;
  font-size: 14px;
  margin-top: auto;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.footer-links a,
.footer-links span {
  color: #fff;
  margin: 0 5px;
  text-decoration: none;
}

.footer-social-text a {
  color: #fff;
  text-decoration: none;
}

.footer-responsibility {
  color: #fff;
}

.instagram-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('/public/images/instagram.svg'); /* Replace with actual path */
  background-size: cover;
  margin-right: 5px;
  vertical-align: middle;
}

.mb-2 {
  margin-bottom: 2rem;
}
